<div id="header">
    
<div class="head">magicbricks</div>

<div class="area">
    <select id="opt">
        <option>Near by Cities</option>
        <option>Chennai</option>
        <option>Coimbatore</option>
        <option>Trichy</option>
        <option>Madurai</option>
        <option>Tirunelveli</option>
    </select>
    <a id="post" href="#"><span class="glyphicon glyphicon-file"></span> Post Property<span id="badge">FREE </span></a>
    <select id="log">
        <option><a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-right"></span>Login</a></option>
        <option><a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-right"></span>Sign up</a></option>
        </select>

</div>

</div>