
<div class="footer">
    <div class="foot">
    <p class="india">About Magicbricks</p>
    <p id="para">Launched in 2006, Magicbricks is India's No.1 online Property marketplace to buy, sell and rent residential and commertcial 
    properties. Adjudged as the most preferred real estates portal in India by various
    independent surveys.</p>
    </div>
    <div class="foot1">
    <p class="india">Real Estate in India</p>
    <p>Property in Delhi NCR | Property in Mumbai | Property in Chennai | Property in Pune | 
    Property in Noida | Property in Gurgaon | Property in Bangalore | Property in Ahmedabad </p> 
    <div class="foot2">
    <p class="india">New Projects in India</p>
    <p>New Projects in Delhi/NCR | New Projects in Mumbai | New Projects in Chennai | New Projects in Pune | 
    New Projects in Noida | New Projects in Gurgaon | New Projects in Bangalore | New Projects in Ahmedabad </p>
    </div>
    </div>
    </div>
    <div class="divi">
    <a class="tag" href="#">Sitemap</a>
    <a class="tag" href="#">Terms & Conditions</a>
    <a class="tag" href="#">Privacy Policy</a>
    <a class="tag" href="#">Blog</a>
    <a class="tag" href="#">Careers</a>
    <a class="tag" href="#">Testimonials</a>
    <a class="tag" href="#">Feedback</a>
    <a class="tag" href="#">Unsubscribe</a>
    <a class="tag" href="#">Help Center</a>
    <a class="tag" href="#">Sales Enquiry</a>
    
    </div>
    <p class="disc">Disclaimer: Magicbricks Realty Services Limited is only an intermediary offering 
    its platform to advertise properties of Seller for a Customer/Buyer/User coming on its 
    Website and is not and cannot be a party to or privy to or control in 
    any manner any transactions between the Seller and the Customer/Buyer/User. 
    All the offers and discounts on this Website have been extended by Read more</p>
    <div class="last">
    <p id="l1">All trademarks, logos and names are properties of their respective owners. 
    All Rights Reserved. © Copyright 2021 Magicbricks Realty Services Limited. </p>
    </div>
    