<div clas="loan">
    <p id="head">EMI LOAN CALCULATOR</p>
    Principal :  <input type="text" #myname id="myname" ><br>
    Month :  <input type="text" #mypass id="mypass"><br>
    ROI :  <input type="text" ><br>
    <select #myselect >
    <option value="Vec" #cal>VECHICLE LOAN</option>
    <option value="Home" #cal>HOME LOAN</option>
    <option value="Edu"  #cal>EDUCATION LOAN </option>
    <option value="Per" #cal>PerS</option>
    </select> 
    <br>
    <input type="button" [value]="myvalue" click="abc(myname.value,mypass.value.)">
</div>
  
