<div class="add">


<p id="tap">Because you searched Chennai</p>

<div class="section">

    <div class="sec1">
        <p class ="div1" ><span class="divspan"> 17k+ </span>Properties listed for you</p>
        <span class="div2">Continue last search <span class="glyphicon glyphicon-arrow-right"></span></span>
    </div>
    <div class="sec1">
        <p class ="div3">Get personlised property recommendations from us</p><br>
        <span class="div2">See all <span class="glyphicon glyphicon-arrow-right"></span></span>
    </div>
    <div class="sec1">
        <p class ="div3">Top Handpicked Projects for you</p><br>
        <span class="div2">See all <span class="glyphicon glyphicon-arrow-right"></span></span>
    </div>
    <div class="sec1">
        <p class ="div3">Top Exclusive Owner Properties</p><br>
        <span class="div2">See all <span class="glyphicon glyphicon-arrow-right"></span></span>
    </div>

</div>

</div>