<p id="Home">Home Loans</p>

<div id="home1">
    <p id="home2">Home Loan Eligibility </p>
         Home Loan eligibility is dependent on factors such as your monthly 
        income, current age, credit score, fixed monthly financial obligations, 
        credit history, retirement age etc. Get the peace of mind by knowing all
        the details about your loan using Home Loan Eligibility Calculator
</div>
<div id ="home1">
    <p id="home2">What is Home Loan Eligibility?</p>
    Home loan eligibility is defined as a set of
    criteria basis which a financial institution 
    assesses the creditworthiness of a customer to avail and 
    repay a particular loan amount. Home loan eligibility depends 
    on criteria such as age, financial position, credit history, 
    credit score, other financial obligations etc.
</div>

Illustration :

<div id ="home1">
    For e.g. If a person is 30 years old and has a gross monthly 
    salary ofRs.30,000, he can avail a loan ofRs.20.49 lakh at an interest rate of 6.90% for a 
    tenure of 30 years provided he has no other existing financial obligations such as a personal loan or car loan etc.
</div>

<div id ="home1">
    How is Home Loan eligibility calculated?
    Housing loan eligibility is primarily dependent on the income and repayment 
    capacity of the individual(s).There are other factors that determine the eligibility 
    of home loans such as age, financial position, credit history, credit score, other financial obligations etc.
</div>

<div id ="home1">
    Home Loan Eligibility Criteria
    Present Age and Remaining Working Years: The age of the applicant plays a major role in determining home loan eligibility. 
    The maximum loan term is generally capped at 30 years.
    Age Limit for Salaried Individuals: 21 to 65 years .
    Age Limit for Self-Employed Individuals: 21 to 65 years.
    Minimum Salary: ₹10,000 p.m.
    Minimum business income: ₹2 lac p.a.
    Maximum Loan Term: 30 years.
    Financial Position: The present and the future income of applicant(s) has a significant impact on determining the loan amount.
    Past and Present Credit History and Credit Score: A clean repayment record is considered positive.
    Other Financial Obligations: Existing liabilities such as a car loan, credit card debt, etc.
</div>
How to enhance Home Loan eligibility?


<div id ="home1">
    The eligibility for home loans can be enhanced by

    Adding an earning family member as co-applicant.
    Availing a structured repayment plan.
    Ensuring a steady income flow, regular savings and investments.
    Furnishing details of your regular additional income sources.
    Keeping a record of your variable salary components.
    Taking actions to rectify errors (if any) in your credit score.
    Repaying ongoing loans and short terms debts
    How to use HDFC’s Eligibility Calculator?
    HDFC’s Eligibility Calculator facilitates checking eligibility for housing loans online.
</div>

<div id ="home1">
    Gross Income (Monthly) in ₹: Input gross monthly income. NRI should input net income.
    Loan Tenure (In Years): Input the desired loan term for which you wish to 
    avail the loan. A longer tenure helps in enhancing the eligibility.
    Interest Rate (% P.A.): Input HDFC’s prevailing housing loan interest rate. Click here to know the prevailing interest rates
    Other EMIs (Monthly): Input the EMIs of the other loans you may have
    Apply for a Home Loan and Calculate Your Home Loan Eligibility
    Once you get an indication of your eligibility and 
    EMI amount by using the calculator, you can apply for a home loan online from the comfort of your 
    living room easily with Online Home Loans by HDFC.
</div>

<div id ="home1">
    To apply for a home loan online with HDFC, click
</div>

<div id ="home1">
    In case you would like us to get in touch with you, kindly leave your details with us. 
    HDFC also offers a facility of a pre-approved home loan even before you have identified your dream home.
</div>

<div id ="home1">
    These calculators are provided only as general self-help Planning Tools. 
    Results depend on many factors, including the assumptions you provide. We do not guarantee their 
    accuracy, or applicability to your circumstances.
</div>
