<div class="search">
<p id="welcome">Welcome to MagicBricks, Find a home you'll <span id="love">love</span></p>
<div id="add">
    <ul id="list">
    <li class="lis"><a routerLink="buy">Buy</a></li>
    <li class="lis"> <a routerLink="rent">Rent</a></li>
    <li class="lis"> <a routerLink="pg">PG</a></li>
    <li class="lis"> <a routerLink="commercial">Plot</a></li>
    <li class="lis"> <a routerLink="commercial">Commercial</a></li>
    <li class="lis"> <a routerLink="buy">Post Free Ad</a></li>
    </ul>
</div>
</div>
<div class="find">
    <span class="glyphicon glyphicon-map-marker"></span><input type="text" id="typ" placeholder=" Add more...">
<select class="optvalue">
    <option> <span class="glyphicon glyphicon-home"></span>Property type</option>
    <option> <span class="glyphicon glyphicon-home"></span>Villa</option>
    <option> <span class="glyphicon glyphicon-home"></span>Flat</option>
    <option> <span class="glyphicon glyphicon-home"></span>Commercial</option>
</select>
<select class="optvalue">
    <option><i class="fa fa-rupee" style="font-size:24px"></i>Budget</option>
    <option>10Lac</option>
    <option>20Lac</option>
    <option>30Lac</option>
</select>

<input type="submit" id="find1" value="Search">

    </div>

