<div class="navi">
    <nav id ="topnav">
    <ul id="opt">
        <li><select class="optvalue">
            <option>Buy</option>
            <option>Flats/Villa/Plots</option>
            <option>Office Space</option>
            <option>Commercial Place</option>
            <option>Budget Home</option>
        </select></li>
        <li><select class="optvalue">
            <option>Rent</option>
        <option>Verified Properties</option>
        <option>Owner Properties</option>
        <option>Furnished</option>
        <option>Semi-Furnished</option>
        <option>Bachelor Friendly</option>
    </select></li>
        <li><select class="optvalue" >
            <option>Sell</option>
            <option>Priperties Valuation</option>
            <option>Find an agent</option>
            <option>Rates and Trends</option>
            </select>
        </li>
        <li><select #sel class="optvalue" (change)="navigate(sel.value)">
            <option><a href="#">Home Loans</a></option>
            <option value="loans" routerLink="loan"><a >Apply Loans</a></option>
            <option><a href="#">Loan Eligibility</a></option>
            <option value="EMI" routerLink="EMI"><a>Loan Emi Calculation</a></option>
        </select></li>
        <li><select class="optvalue">
            <option>Property Services</option>
            <option>Home Cleaning</option>
            <option>Rent Agreement</option>
            <option>Tenant Verification Properties</option>
            <option>Property Layers</option>
         </select></li>
        <li><select class="optvalue">
            <option>Resources</option>
            <option>Lifestyle</option>
            <option>Policies</option>
            <option>Financial & Legal</option>
        </select></li>
        <li><select class="optvalue">
            <option>Help</option>
            <option>Help Center</option>
            <option>Sales Enquiry</option>
        </select></li>
    </ul>
</nav>
</div>


  