<div class="card">
    <div class="card1">
    <div class="div1"> 
    <img class="image1" src="../../assets/rent1.jpg">
    <p class="para">
    <a href="https://www.magicbricks.com/vrx360-thirumazhisai-chennai-pdpid-4d4235323332333233/prjDtId-4d42313336373633">VRX360</a><br>
    By Vijay Raja Homes Pvt. Ltd.<br>
    <span class="glyphicon glyphicon-map-marker"></span>Thirumazhisai, Chennai</p>
    </div>
    <div class="div2">
    <img class="image1" src="../../assets/rent2.jpg">
    <p class="para">
    <a href="https://www.magicbricks.com/utkal-greenex-sundarpada-bhubaneswar-pdpid-4d4235323930353833/prjDtId-4d42313339343339">Utkal Greenex</a><br>
    By AMJ Global Homes LLP<br>
    <span class="glyphicon glyphicon-map-marker"></span>Sundarpada, Bhubaneswar</p>
    </div>
    </div>
    
    <div class="card1">
    <div class="div1"> 
    <img class="image1" src="../../assets/rent3.jpg">
    <p class="para">
    <a href="https://www.magicbricks.com/ps-nexterra-sholinganallur-chennai-pdpid-4d4235303733363633/prjDtId-4d423835353138">PS Nexterra</a><br>
    By PS Group<br>
    <span class="glyphicon glyphicon-map-marker"></span>Sholinganallur, Chennai</p>
    </div>
    <div class="div2">
    <img class="image1" src="../../assets/rent4.jpg">
    <p class="para">
    <a href="https://www.magicbricks.com/eterne-kolapakkam-chennai-pdpid-4d4235323935363639/prjDtId-4d42313430353039">ETERNE</a><br>
    By PS Construction<br>
    <span class="glyphicon glyphicon-map-marker"></span>Kolapakkam, Chennai
    </p>
    </div></div>
    </div>
    